@import "../../assets//global-styles/styles.module.scss";

.container {
	gap: 50px;
	align-items: center;
	width: 100%;
	position: relative;
	box-shadow: 1px 10px 10px 1px #dedede;
	background: white;

	display: flex;
	padding: 10px;
	justify-content: space-between;
	/* Or any other appropriate layout */
}

.text {
	display: flex;
	justify-content: start;
	width: 20%;
}

.color {
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 10px;
	width: 15%;
	height: 25px;
}

.item-list {

	width: 100%;
	/* Smooth scaling transition */
	/* Add any other default styles */
}

.container:hover {
	border: 1px solid rgb(45, 126, 240);
}

.item-list-grow {
	transform: scale(1.1);
	/* Scale the item-card to 110% */
}

.item-name-grow {
	transform: scale(1.2);
	color: rgb(45, 126, 240) !important;
	font-weight: bold;
}

.item-name {
	font-size: 12px;
	transition: transform 0.3s ease;
	color: $grey;
	display: flex;
	justify-content: center;
}